<div id="shopping-cart-module" [ngClass]="{ 'show-cart': cartOpen, 'hide-cat': !cartOpen }">
  <h2>SHOPPING CART: <span>{{count}}</span></h2>
  <button class="btn btn-solid">PROCEED TO CHECKOUT</button>
  <div class="messages">{{cartMessage}}</div>
  <div *ngIf="products.length > 0">
    <ul class="items">
      <li *ngFor="let cartItem of products">
        <div class="item" data-id="{{cartItem.id}}">
						<div class="col-md-4"><img src="{{cartItem.images[0].thumbnail}}" alt="{{cartItem.product_name}}"></div>
						<div class="product-col" class="col-md-8">
							<a href="#" class="product-name">{{cartItem.product_name}}</a>
							<span class="sku">SKU: {{cartItem.sku}}, </span><span>QTY: {{cartItem.quantity}}</span>
              <div class="price">Price: ${{cartItem.price}}</div>
              <i class="glyphicon glyphicon-remove" (click)="removeItem(cartItem.id)"></i>
						</div>
					</div>
      </li>
    </ul>
  </div>
  <div class="bottom-info">
    <button class="continue-shopping" (click)="closeCart()">Minimize Cart<i class="glyphicon glyphicon-chevron-left"></i></button>
    <h4>Cart Subtotal: <span>{{cartTotal | currency:'USD':true:'3.2-2'}}</span></h4>
  </div>
  <div class="close-cart" (click)="closeCart()">
    <i class="glyphicon glyphicon-remove"></i>
  </div>
</div>