.filter {
    position: relative;
    .close-btn {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.form-check-inline {
    display: inline-block;
}
.form-check-inline+.form-check-inline {
    margin-left: .75rem;
}

.toggle-filter {
    cursor: pointer;
}

.filter {
    background-color: #f5f5f5;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    button {
        width: auto;
        display: inline-block;
        background-color: #787779;
        color: white;
        &:hover {
            background-color: lighten(#787779, 5%);
            color: white;
        }
        &:focus {
            outline: none;
            border: 1px solid white;
        }
          &.filterActive {
            background-color: #333333;

        }
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}