<div role="tabpanel" class="tab-pane" id="accessories">
  <h1>Product Accessories Finder</h1>
  <!-- <app-spinner></app-spinner> -->
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <master-input [powers]="powers" (hasChanged)="hasChanged($event)"></master-input>
  <div class="accessories-wrapper">
    <div class="category-list-wrapper" [@fade]="categories.length">
      <div class="cat-column" [ngClass]="{ 'show-cat': !showSubCat, 'hide-cat': showSubCat }">
      <div class="desktop-list btn-group-vertical show-cat" >
            <ng-template ngFor let-category [ngForOf]="categories"> 
                <button class="list-group-item list-group-item-action cat-btn" *ngIf="category !=='Select a Category'" (click)="getCatName(category)" ><span>{{category}}</span><i class="glyphicon glyphicon-chevron-right"></i>
                  </button>
            </ng-template>
        </div>
        <div class="mobile-select show-cat">
          <select class="form-control mobile-select show-cat" [ngModel]="selectedCat" (ngModelChange)="change($event)" name="category" id="cat-column" placeholder="Select a Category">
            <option [ngValue]="category" class="cat-btn" *ngFor='let category of categories'>{{category}}</option>
          </select>
        </div>
      </div>
      <div class="subcat-column" [ngClass]="{ 'show-subcat': showSubCat, 'hide-cat': !showSubCat }" >
        <div class="desktop-list btn-group-vertical hide-cat">
          <button class="list-group-item list-group-item-action cat-btn" *ngFor="let sub of subProducts" (click)="getSubCatName(sub)" ><span>{{sub}}</span><i class="glyphicon glyphicon-chevron-right"></i></button>
          <button class="list-group-item list-group-item-action subcat-btn back-to-cat" (click)="backToCat()">Back to Categories<i class="glyphicon glyphicon-chevron-left"></i></button>
        </div>
        <div class="mobile-select hide-cat">
          <select class="form-control" [ngModel]="selectedSubCat" (ngModelChange)="changeSub($event)" name="sub-category" id="sub-cat-column" placeholder="Select a Sub-Category">
            <option value="">Select Sub-Category</option>
            <option class="cat-btn" *ngFor="let sub of subProducts">{{sub}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="category-banners" *ngIf="catbanners">
      <img [src]="masterProductBanner" alt="{{masterProductBanner}}">
    </div>
    <div class="product-list-accessories">
      <ol class="breadcrumb" *ngIf="hasProducts() || showSubCat">
        <li class="breadcrumb-item bc-link" (click)="backToCat()" *ngIf="showSubCat">Back to Categories</li>
        <li class="breadcrumb-item" *ngIf="category_name">{{category_name}}</li>
        <li class="breadcrumb-item" *ngIf="subCategory_name">{{subCategory_name}}</li>
      </ol>
      <ul class="items col col-md-12"  [@productsIntro]="animationState">
        <li class="col col-xs-12 col-sm-12 col-md-4" *ngFor="let product of products">
          <div class="item">
            <a href="" class="product-name">{{product.product_name}}</a>
            <div class="image-and-info col col-xs-8 col-sm-8 col-md-12">
              <div class="product-thumb">
                <img src="../../assets/img-filler.png" alt="{{product.product_name}}">
              </div>
              <div class="info">
                <div class="sku">SKU: {{product.sku}}</div>
                <div class="price">Price: {{product.price | currency:'USD':true:'1.2-2'}}</div>
              </div>
            </div>
            <div class="product-col col col-xs-4 col-sm-4 col-md-12">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-solid" (click)="viewProduct(product)">View Product</button>
                <button type="button" class="btn btn-solid add-to-cart" (click)="addToCart($event)">Add to Cart</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

