/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full height of the viewport */
    width: 250px;
    background-color: #333;
    color: white;
    z-index: 1000;
    padding-bottom: 1rem; /* Add padding to ensure content is not cut off */
  }

  
  .sidebar.hidden {
    width: 80px; /* Shrink the sidebar to the width of the icons */
  }
  
  .sidebar.visible {
    width: 250px; /* Full width when the sidebar is open */
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes full height */
    padding: 1rem;
  }
  
  .sidebar-logo {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1; /* Allow the nav to grow and fill space */
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: none;
  }
  

  
  .link-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
  }
  
  .icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transition: none;
    margin-right: 10px;
  }
  
  /* Hide the text links when the sidebar is collapsed */
  .text-link {
    white-space: nowrap;
    overflow: hidden; // Hide any overflow text
    text-overflow: ellipsis; // Add ellipsis for overflow text
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
  }
  
  .sidebar.hidden .text-link {
    opacity: 0;
  }
  
  .sidebar-signout {
    margin-top: auto; /* Push the signout button to the bottom */
    margin-bottom: 3rem; /* Add margin to bring it up slightly */
    white-space: nowrap;
    overflow: hidden; // Hide any overflow text
    text-overflow: ellipsis; // Add ellipsis for overflow text
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
  }
  

  
  /* Menu button for mobile or small screens */
.sidebar-toggle {
  position: absolute;
  top: 1.25rem; /* Adjust as needed */
  right: -1.875rem;
  width: 1.875rem; /* Match the icon's width */
  height: 1.875rem; /* Match the icon's height */
  background-color: transparent;
  border: none;
  font-size: 1.5625rem;
  color: white;
  cursor: pointer;
  z-index: 1050; /* Ensure the toggle button is on top */
  box-sizing: border-box; /* Include padding and border in the element's total size */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  svg {
      padding-left: 0.5rem;
  }
  
  &::before {
    content: ''; /* Add content for the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 2.1875rem; /* Match the icon's width */
    height: 1.875rem; /* Match the icon's height */
    background-color: green; /* Example background color */
    z-index: 1040; /* Lower than the toggle button */
    pointer-events: none; /* Ensure it doesn't interfere with button clicks */
    display: block; /* Ensure it is displayed */
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: -1;
  }
}