<cart #cart ></cart>
<product #product ></product>
<div class="container">
  <div class="nav">
    <button type="button" class="btn btn-solid" routerLink="/gp-finder" routerLinkActive="active-link"  placement="bottom" ngbTooltip="Tooltip on bottom">Generator probe Finder</button>
    <button type="button" class="btn btn-solid" routerLink="/product-page" routerLinkActive="active-link">Product Accessories Finder</button>
  </div>
  <app-spinner></app-spinner>
  <router-outlet></router-outlet>
</div>
