.form-control {
    margin: 10px 0;
}
.input {
    margin: 10px 0;
}

button {
    width: 50%;
    font-size: 1.2rem;
    border-radius: 0;
    padding: 15px 0;
    background-color: #00B4CC;
    &.active-link {
        background-color: darken(#00B4CC, 5%);
        cursor: default;
        &:hover, &:focus {
            color: white;
        }
    }
}

.nav {
    width: 100%;
    font-size: 0;
}