#media-uploader-modal {
    border: 1px solid var(--neutral-color);
    .MuiPaper-root {
        border: 1px solid var(--accent-color);
    }
}
#media-uploader {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    min-height: 400px;
    justify-content: stretch;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    .step {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        height: 100%;
        gap: 1rem;
        flex-grow: 1;
        }
        .progress-bar {
            width: 100%;
        }
        .MuiLinearProgress-root {
            background-color: var(--neutral-color);
            opacity: 0.5;
        }
        .MuiStepper-root {
            margin-bottom: 2rem;
            span.MuiStepLabel-labelContainer span {
                font-size: 0.7rem;
            }
        }
    
    }
    button.close-modal {
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        top: 1rem;
        right: 1rem;
        min-width: auto;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }
    


.cta-group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  margin-top: 1rem;
  flex-grow: 1;
}

.dropzone {
  transition: border-color 0.3s, background-color 0.3s;
  border: 2px dashed #ccc;
  width: 80%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.dropzone.active {
  border-color: #3f51b5; /* Change to your active color */
}

.dropzone.reject, .dropzone.file-selected.reject {
  border-color: #f44336; /* Red color for rejected files */
}

.dropzone.file-selected {
  border-color: #4caf50; /* Green color for selected files */
}

.file-preview {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; // Adjust the gap between items as needed
}

.full-width {
  grid-column: span 3;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
