@use "sass:color";

#media-library {
  width: 100%;
  min-height: 100%;
}

.media-library {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  
  .toolbar {
    padding: 0.5rem 1rem;
    margin: 0;
    max-width: calc(100% - 16px);
  }
  
  h6 {
    margin-bottom: 2rem;
  }
  
  .MuiDataGrid-cell[data-field="image"] {
    padding: 0.15rem;
    align-self: center;
    
    img {
      padding: 0;
      border: 1px solid black;
      object-fit: cover;
      margin: 0;
    }
  }
  
  .MuiDataGrid-cell[data-field="actions"] {
    display: flex;
    align-items: center;
  }
  
  .MuiDataGrid-cell[data-field="fileName"] a {
    color: var(--accent-color);
    text-decoration: none;
  }
}

label {
  color: var(--text-color);
}

.confirmation-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .confirmation-modal-box {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

#media-library-container {
  font-size: 1rem;
  margin-top: 1rem;
  padding-top: 0;
  
  // Grid view - used for card view
  &.grid-view {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    gap: 24px !important;
    width: 100%;
    padding: 16px;
  }
  
  // List view - used for DataTable view
  &.list-view {
    display: block !important;
    width: 100% !important;
  }
} 