.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--header-background);
  background-image: var(--color-surface-gradient);
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px var(--search-input-shadow);
  color: var(--header-text-color);
  
  .MuiToggleButtonGroup-root {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    
    .MuiToggleButton-root {
      border: none;
      color: var(--header-text-color);
      padding: 0.4rem 0.8rem;
      
      &.Mui-selected {
        background-color: var(--accent-color);
        color: white;
        
        &:hover {
          background-color: var(--accent-color-hover);
        }
      }
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  
  .MuiButtonGroup-root {
    margin-left: 1rem;
    
    .MuiButton-root {
      text-transform: none;
      padding: 6px 12px;
      
      &.Mui-selected {
        background-color: var(--accent-color);
        color: white;
      }
    }
  }
} 