.media-card {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
  //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(144, 202, 249)" viewBox="0 0 24 24"><path d="M10 4H2v16h20V6H12l-2-2z"/></svg>');
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  .content {
    img {
      border-radius: 5px;
    }
    h3 {
        padding: 0.5rem 0;
        font-weight: 400;
        font-size: 0.8rem;
      }
  }
}

.MuiGrid-container {
  margin-top: 0;
  padding: 1rem;
}


.grid-view {
    .media-card {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 10px;
        transition: transform 0.2s ease;
        cursor: pointer;
        //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(144, 202, 249)" viewBox="0 0 24 24"><path d="M10 4H2v16h20V6H12l-2-2z"/></svg>');
        background-size: cover;
        background-position: center;
        background-color: var(--secondary-color);
        background-image: linear-gradient(to bottom right, var(--secondary-color), var(--background-color));
        // box-shadow: 0 0 10px 0 var(--background-color);
        .content {
            .img-wrapper {
                width: 120px;
                height: 75px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: center;
                }
            }
          h3 {
              padding: 0.5rem 0;
              font-weight: 400;
              font-size: 0.8rem;
            }
        }
      }
}

.list-view {
  .media-card {
    background-image: none;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
    justify-content: flex-start;
    
    .content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        img {
          border-radius: 5px;
          height: 30px;
          width: 30px;
        }
        h3 {
          padding: 0.5rem 0;
          font-weight: 400;
          font-size: 0.8rem;
        }
      }
  }
}
