.media-library {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin: auto;
    padding-left: calc(250px + 2rem);
    h6 {
        margin-bottom: 2rem;
    }
  .folder, .folder-content {
    transition: opacity 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .subfolder {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

label.css-1kfabtt-MuiFormLabel-root-MuiInputLabel-root {
    color: var(--text-color);
}

@media (max-width: 768px) {
  .media-library {
    .folder {
      flex-direction: column;
    }
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  .MuiGrid-item {
    margin-top: 1rem;
  }
}

.list-view {
  display: flex;
  flex-direction: column;
  .MuiGrid-item {
    &:first-child {
      margin-top: 1rem;
    }
  }
}