
.media-detail-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4rem 2rem;
  .navbar {
    justify-self: flex-start; 
    align-self: flex-start;
    padding-left: calc(250px + 2rem);
  }
}
.media-detail {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 4rem 2rem;
  gap: 2rem;
  align-items: start;
  box-sizing: border-box;
  margin: auto;
  padding-left: calc(250px + 2rem);
  h6 {
    margin-bottom: 2rem;
  }
  img-container {
    max-width: 600px;
    height: auto;
  }
  .media-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
    text-align: left;
    p {
      span {
        font-weight: 600;
        color: var(--accent-color2);
      }
    }
    .tags {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .tag {
        background-color: var(--secondary-color);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        min-width: 2rem;
        color: var(--accent-color2);
      }
    }
  }
}
