:root {
  /* Base theme colors */
  --color-primary: #1976d2;
  --color-primary-light: #4791db;
  --color-primary-dark: #115293;
  --color-secondary: #b2c200;
  --color-secondary-light: #dae339;
  --color-secondary-dark: #919c00;
  
  /* Colors for dark and light mode */
  --color-background-light: #f8f9fa;
  --color-background-dark: #121212;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e1e1e;
  --color-text-light: #333333;
  --color-text-dark: #f8f9fa;
  
  /* Default light mode values */
  --color-background: var(--color-background-light);
  --color-surface: var(--color-surface-light);
  --color-text: var(--color-text-light);
  
  /* Sidebar specific variables */
  --primary-color: var(--color-primary);
  --primary-color-rgb: 25, 118, 210; /* RGB value of primary color */
  --text-color: var(--color-text-light);
  --accent-color: var(--color-secondary);
  --accent-color2: var(--color-secondary-light);
}

/* Dark mode variables */
[data-theme="dark"] {
  --color-background: var(--color-background-dark);
  --color-surface: var(--color-surface-dark);
  --color-text: var(--color-text-dark);
  --text-color: var(--color-text-dark);
}

/* Light mode variables */
[data-theme="light"] {
  --color-background: var(--color-background-light);
  --color-surface: var(--color-surface-light);
  --color-text: var(--color-text-light);
  --text-color: var(--color-text-light);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Hanken Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add global app styles below */ 