/* You can add global styles to this file, and also import other style files */
/* COLOR VARIABLES */  
$light-blue: #4eb4d0;
$dark-blue: #19468d;
$dark-grey: #333333;
$cool-grey: #78777a;
$lime-green: #c4d600;
$white: #ffffff;
$off-white: #f5f5f5;
$shadow-color: #d4d3df;

//FONT URL's
//fonts
$myriadpro_regular: myriadpro_regular;
$myriadpro_light: myriadpro_light;
$myriadpro_bold: myriadpro_bold;
$myriadpro_semibold: myriadpro_semibold;
$font-awesome: fontAwesome;
$arial: Arial;
$helvetica: Helvetica;
$sans-serif: sans-serif;
$open-sans: Open Sans;

$myriadpro-regular-eot: url(/fonts/MyriadPro-Regular.eot);
$myriadpro-regular-eot-iefix: url(/fonts/MyriadPro-Regular.eot?#iefix);
$myriadpro-regular-woff: url(/fonts/MyriadPro-Regular.woff);
$myriadpro-regular-ttf: url(/fonts/MyriadPro-Regular.ttf);
$myriadpro-regular-svg: url(/fonts/MyriadPro-Regular.svg#myriadpro);
$myriadpro-light-eot: url(/fonts/myriadpro-light-webfont.eot);
$myriadpro-light-eot-iefix: url(/fonts/myriadpro-light-webfont.eot?#iefix);
$myriadpro-light-woff: url(/fonts/myriadpro-light-webfont.woff);
$myriadpro-light-ttf: url(/fonts/myriadpro-light-webfont.ttf);
$myriadpro-light-svg: url(/fonts/myriadpro-light-webfont.svg#myriadpro_light);
$myriadpro-bold-eot: url(/fonts/myriadpro-bold-webfont.eot);
$myriadpro-bold-eot-iefix: url(/fonts/myriadpro-bold-webfont.eot?#iefix);
$myriadpro-bold-woff: url(/fonts/myriadpro-bold-webfont.woff);
$myriadpro-bold-ttf: url(/fonts/myriadpro-bold-webfont.ttf);
$myriadpro-bold-svg: url(/fonts/myriadpro-bold-webfont.svg#myriadpro_bold);

@font-face {
	font-family: $myriadpro_regular;
	src: $myriadpro-regular-eot;
	src: $myriadpro-regular-eot-iefix format('embedded-opentype'), $myriadpro-regular-woff format('woff'), $myriadpro-regular-ttf format('truetype'), $myriadpro-regular-svg format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $myriadpro_light;
	src: $myriadpro-light-eot;
	src: $myriadpro-light-eot-iefix format('embedded-opentype'), $myriadpro-light-woff format('woff'), $myriadpro-light-ttf format('truetype'), $myriadpro-light-svg format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $myriadpro_bold;
	src: $myriadpro-bold-eot;
	src: $myriadpro-bold-eot-iefix format('embedded-opentype'), $myriadpro-bold-woff format('woff'), $myriadpro-bold-ttf format('truetype'), $myriadpro-bold-svg format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $myriadpro_semibold;
	src: $myriadpro-regular-eot;
	src: $myriadpro-regular-eot-iefix format('embedded-opentype'), $myriadpro-regular-woff format('woff'), $myriadpro-regular-ttf format('truetype'), $myriadpro-regular-svg format('svg');
	font-weight: 600;
	font-style: normal;
}

.btn:hover {
    color: $white;
}

.btn {
    background-color: $light-blue;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    &:hover, &:focus {
      outline: none;
      color: $white;
    }
}

.btn-solid, .btn-primary, .btn-darkblue {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.btn-solid[disabled],
.btn-darkblue[disabled],
.btn-outline[disabled],
fieldset[disabled] .btn-solid,
fieldset[disabled] .btn-darkblue,
fieldset[disabled] .btn-outline {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-solid .badge,
.btn-darkblue .badge,
.btn-outline .badge {
  text-shadow: none;
}
.btn-solid {
  background-color: $light-blue;
  border: 1px solid $light-blue;
}
.btn-darkblue {
  background-color: $dark-blue;
  border: 1px solid $dark-blue;
}
.btn-solid:hover,
.btn-solid:focus {
  background-color: darken($light-blue, 5%);
}
.btn-solid:active,
.btn-solid.active {
  background-color: darken($light-blue, 5%);
  border-color: $light-blue;
}
.btn-darkblue:hover,
.btn-darkblue:focus {
  background-color: darken($dark-blue, 5%);
}
.btn-darkblue:active,
.btn-darkblue.active {
  background-color: darken($dark-blue, 5%);
  border-color: $dark-blue;
}
.btn-solid.disabled,
.btn-solid[disabled],
fieldset[disabled] .btn-solid,
.btn-solid.disabled:hover,
.btn-solid[disabled]:hover,
fieldset[disabled] .btn-solid:hover,
.btn-solid.disabled:focus,
.btn-solid[disabled]:focus,
fieldset[disabled] .btn-solid:focus,
.btn-solid.disabled.focus,
.btn-solid[disabled].focus,
fieldset[disabled] .btn-solid.focus,
.btn-solid.disabled:active,
.btn-solid[disabled]:active,
fieldset[disabled] .btn-solid:active,
.btn-solid.disabled.active,
.btn-solid[disabled].active,
fieldset[disabled] .btn-solid.active {
  background-color: darken($light-blue, 5%);
}
.btn-darkblue.disabled,
.btn-darkblue[disabled],
fieldset[disabled] .btn-darkblue,
.btn-darkblue.disabled:hover,
.btn-darkblue[disabled]:hover,
fieldset[disabled] .btn-darkblue:hover,
.btn-darkblue.disabled:focus,
.btn-darkblue[disabled]:focus,
fieldset[disabled] .btn-darkblue:focus,
.btn-darkblue.disabled.focus,
.btn-darkblue[disabled].focus,
fieldset[disabled] .btn-darkblue.focus,
.btn-darkblue.disabled:active,
.btn-darkblue[disabled]:active,
fieldset[disabled] .btn-darkblue:active,
.btn-darkblue.disabled.active,
.btn-darkblue[disabled].active,
fieldset[disabled] .btn-darkblue.active {
  background-color: darken($dark-blue, 5%);
}

.btn-green {
    background-color: $lime-green;
}
.btn-outline.btn-green {
    color: $lime-green;
    border-color: $lime-green;
}
.btn-solid.btn-green {
    color: $white;
    border-color: $lime-green;
}

.btn-transparent {
  background-color: transparent !important;
}

.btn-solid.btn-green:hover,
.btn-solid.btn-green:focus,
.btn-outline.btn-green:hover,
.btn-outline.btn-green:focus {
    border-color: darken($lime-green, 3%);
    background-color: darken($lime-green, 3%);
    color: $white;
}

.btn:focus {
    outline: none !important;
    outline-offset: 0 !important;
}

.btn-outline.grey.btn-green:hover,
.btn-outline.grey.btn-green:focus {
    border-color: $lime-green;
    background-color: darken($dark-grey, 3%) !important;
    color: $lime-green;
}

.btn-outline.grey:hover,
.btn-outline.grey:focus {
    border-color: $light-blue;
    background-color: darken($dark-grey, 3%) !important;
    color: $light-blue;
}


.btn-white {
    background-color: $white;
}
.btn-outline.btn-white {
    color: $white;
    border-color: $white;
}
.btn-solid.btn-white {
    color: $cool-grey;
    border-color: $white;
}

.btn-solid.btn-white:hover,
.btn-solid.btn-white:focus,
.btn-outline.btn-white:hover,
.btn-outline.btn-white:focus {
    border-color: darken($white, 3%);
    background-color: darken($white, 3%);
    color: $cool-grey;
}

.btn-outline {
  border: 1px solid $light-blue;
  background: $white;
  color: $light-blue;
  &.grey {
    background: $dark-grey;
    &:hover {
      background: darken($dark-grey, 5%);
    }
  }
}
.btn-outline:hover,
.btn-outline:focus {
  border-color: darken($light-blue, 5%);
  color: $light-blue;
  background: darken($white, 3%);
}
.btn-outline:active,
.btn-outline.active {
  border-color: darken($light-blue, 5%);
}
.btn-outline.disabled,
.btn-outline[disabled],
fieldset[disabled] .btn-outline,
.btn-outline.disabled:hover,
.btn-outline[disabled]:hover,
fieldset[disabled] .btn-outline:hover,
.btn-outline.disabled:focus,
.btn-outline[disabled]:focus,
fieldset[disabled] .btn-outline:focus,
.btn-outline.disabled.focus,
.btn-outline[disabled].focus,
fieldset[disabled] .btn-outline.focus,
.btn-outline.disabled:active,
.btn-outline[disabled]:active,
fieldset[disabled] .btn-outline:active,
.btn-outline.disabled.active,
.btn-outline[disabled].active,
fieldset[disabled] .btn-outline.active {
  background-color: darken($light-blue, 5%);
}

#shopping-cart-module {
	position: fixed;
	width: 400px;
	min-height: 300px;
	padding: 10px;
	top: 186px;
	right: -105%;
	transform: none;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	border-left: 1px solid $white;
	background-color: $off-white;
	border-radius: 5px 0 0 5px;
	z-index: 100;
	-webkit-box-shadow:  2px 2px 6px rgba(0,0,0,0.1);
	box-shadow:  2px 2px 6px rgba(0,0,0,0.1);
	display: block;
	transition: all 300ms;
	-webkit-box-shadow: -10px 10px 22px -2px rgba(0,0,0,0.34);
	-moz-box-shadow: -10px 10px 22px -2px rgba(0,0,0,0.34);
	box-shadow: -10px 10px 22px -2px rgba(0,0,0,0.34);
	padding-bottom: 50px;
	@media only screen and(max-width:600px){
		width: 100%;
		min-height: 200px;
		top: 0;
		max-height: 90%;
	}
	&.show-cart {
		right: 0;
	}
	h2 {
		text-align: center;
		margin-top: 0;
	}
	button {
		width: 100%;
	}
	.messages {
		font-size: 16px;
		position: absolute;
		top: 50%;
		left: 20px;
	}
	ul.items {
		margin: 5px 0;
		padding: 0;
		border-top: 1px solid $white;
		@media only screen and(max-width:600px){
			margin: 5px;
		}
		li {
            overflow: hidden;
            list-style: none;
			padding: 3px 0;
			border-bottom: 1px solid $white;
			.item {
				position: relative;
                box-sizing: border-box;
                overflow: hidden;
				.product-name {
					margin: 0;
					padding: 0;
					display: block;
					font-size: 16px;
					text-decoration: underline;
				}
				img {
					display: block;
					@media only screen and(max-width:600px){
						display: none;
					}
				}
				i {
					position: absolute;
					top: calc(50% - 10px);
					right: 0;
					vertical-align: middle;
					cursor: pointer;
					&:hover {
						color: red;
					}
				}
			}
		}
	}
	.remove {
		i {
			position: absolute;
			top: calc(50% - 10px);
			right: 0;
			vertical-align: middle;
		}
	}
	.bottom-info {
		position: absolute;
		bottom: 0;
		left: 0;
		background: $cool-grey;
		padding: 5px 10px;
		width: 100%;
		color: $dark-grey;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 0;
		font-size: 1em;
		h4 {
			color: $white;
			float: right;
			font-size: 1em;
		}
		button.continue-shopping {
			padding: 5px 10px;
			background-color: $white;
			color: $cool-grey;
			display: inline-block;
			width: auto;
			border: none;
			outline: none;
			border-radius: 4px;
			margin: 5px 0;
			border: 1px solid $white;
			&:hover {
				background-color: darken($white, 5%);
			}
			i {
				padding-left: 10px;
			}
		}
	}
	.close-module, .close-cart {
		position: absolute;
		top: 3px;
		right: 3px;
		cursor: pointer;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
	@media (max-width: 750px){
		min-width: 100%;
		.close-module {
			font-size: 24px;
		}
	}
}

#product-module {
	position: fixed;
	width: 40%;
	min-height: 200px;
	padding: 10px 20px;
	top: 50%;
	left: 30%;
	opacity: 0;
	transform: translateY(-50%);
	background-color: $dark-grey;
	border-radius: 5px;
	z-index: 100;
	-webkit-box-shadow:  2px 2px 6px rgba(0,0,0,0.1);
	box-shadow:  2px 2px 6px rgba(0,0,0,0.1);
	display: block;
	transition: all 300ms;
	-webkit-box-shadow: -10px 10px 22px -2px rgba(0,0,0,0.34);
	-moz-box-shadow: -10px 10px 22px -2px rgba(0,0,0,0.34);
	box-shadow: -10px 10px 22px -2px rgba(0,0,0,0.34);
	padding-bottom: 50px;
	color: $off-white;
	&.show-product {
		opacity: 1;
	}
	.remove {
		i {
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
		}
	}
}