<extraFilters  *ngIf="showProducts"></extraFilters>
<ul class="items col col-md-12"  *ngIf="showProducts">
    <li class="col col-xs-12 col-sm-12 col-md-4" *ngFor="let product of products">
        <div class="item">
        <a href="" class="product-name">{{product.product_name}}</a>
        <div class="image-and-info col col-xs-8 col-sm-8 col-md-12">
            <div class="product-thumb">
            <img src="../../assets/img-filler.png" alt="{{product.product_name}}">
            </div>
            <div class="info">
            <div class="sku">SKU: {{product.sku}}</div>
            <div class="price">Price: {{product.price | currency:'USD':true:'1.2-2'}}</div>
            </div>
        </div>
        <div class="product-col col col-xs-4 col-sm-4 col-md-12">
            <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-solid" (click)="viewProduct(product)">View Product</button>
            <button type="button" class="btn btn-solid add-to-cart" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
        </div>
    </li>
</ul>
